@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FBE8DF;
    color: darkslategrey;
    background-color: red;
}


/*................................................HEADER*/

#menu {
    font-size: 100%;
    list-style-type: none;
    text-transform: uppercase;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: darkslategrey;
    letter-spacing: 3px;
}

#menu a:hover {
    border-bottom: 1px solid darkslategrey;
}

.logo {
    text-align: center;
    float: left;
}

#menu,
.logo {
    line-height: 100px;
}

/*.................................CIRCLE IMAGE*/

#gashi {
    background: url("/assets/images/gashigashi.jpg") no-repeat center center;
    height: 500px;
    width: 100%;
    border-radius: 50%;

    animation-name: gashi-zoom;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

#gashi-outer {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@keyframes gashi-zoom {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}




/*..................................ALBUM COVER*/

#album-cover {
    background-color: rgba(223, 97, 100, 0.1);

    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 350px;
    height: 200px;
    padding-top: 40px;
    padding-left: 20px;

    position: asolute;

    bottom: 20px;
    right: 200px;


}

/*.......................................FOOTER*/


footer {
    height: 100px;
    width: 100%;
    text-align: center;

}


.foot li {
    color: #4c4c4c;
    display: inline-block;
    text-decoration: none;
    padding: 40px;
}

.foot a {
    text-decoration: none;
    color: #4c4c4c;
}

.foot i {
    font-size: 100%;
}