@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@700&display=swap');


* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBE8DF;
    color: darkslategrey;
}


/*................................................HEADER*/

#header {
    position: fixed;
    width: 100%;

}

#menu {
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 100px;
}

#menu li {
    float: right;
}

#menu a {
    text-decoration: none;
    color: darkslategrey;
    letter-spacing: 2px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

.active {
    border-bottom: 1px solid #777777;
}

#menu a:hover {
    border-bottom: 1px solid darkslategrey;
}


.logo {
    text-align: center;
    float: left;
    margin-left: 100px;

}

#menu,
.logo {
    line-height: 100px;
}


/*.................................BACKGROUND*/

#gashi {
    background: url("/assets/images/live2.jpg") no-repeat center center;
}




/*..................................ALBUM COVER*/

#album-cover {
    background-color: rgba(223, 97, 100, 0.3);

    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 250px;
    height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;

    position: fixed;

    bottom: 20px;
    right: 100px;
}

span {
    color: white;
    font-weight: bolder;
}

/*.........................................TOUR*/

#tour {
    width: 100%;
    text-align: center;
    background: url("/assets/images/live.png") no-repeat center center;
    opacity: 0.3;
    padding: 40px 0;
    margin-top: 150px;
    list-style: none;
    color: white;

    height: 500px;
}





/*......................................GALLERY*/

#gallery {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 2px;
    column-width: 400px;
    margin-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
}

img {
    width: 200px;
    height: auto;

}


/*.......................................FOOTER*/


footer {
    height: 100px;
    width: 100%;
    text-align: center;
}


.foot li {
    color: #4c4c4c;
    display: inline-block;
    text-decoration: none;
    padding: 40px;
}

.foot a {
    text-decoration: none;
    color: #4c4c4c;
}

.foot i {
    font-size: 100%;
}