@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FBE8DF;
    color: darkslategrey
}


/*................................................NAVIGATION*/

#menu {
    font-size: 100%;
    list-style-type: none;
    text-transform: uppercase;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid darkslategrey;
}


/*.................................CIRCLE IMAGE*/

#gashi {
    background: url("/assets/images/gashi.jpg") no-repeat center center;
    height: 500px;
    width: 100%;

    animation-name: gashi-zoom;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

#gashi-outer {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@keyframes gashi-zoom {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


/*.......................................FOOTER*/


footer {
    height: 100px;
    width: 100%;
    text-align: center;

}


.foot li {
    color: #4c4c4c;
    display: inline-block;
    text-decoration: none;
    padding: 40px;
}

.foot a {
    text-decoration: none;
    color: #4c4c4c;
}

.foot i {
    font-size: 100%;
}